/nbproject/private/
/build/default/
/dist/default/
/Backup Of simulacion.pdsbak
/Last Loaded simulacion.pdsbak
/simulacion.pdsprj.chromium.pablo.workspace
/Last Loaded fisico.pdsbak
/fisico.pdsprj.chromium.pablo.workspace
/Backup Of fisico.pdsbak